@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">IEFP Music</h1>
    <p> Registe e avalie suas músicas favoritas.</p>
    <img src="Imagens/piano.jpg" alt="Imagem de piano com partitura" />
</div>
