@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre a música";
}
<h1>@ViewData["Title"]</h1>

<p>"A música é a arte perfeita que exprime sentimentos dos seres imperfeitos"</p>
<p> Autor desconhecido</p>
<p> A proposta do site é que se possa registar as suas músicas favoritas e criar um ranking através das notas.</p>



